*.o
*.d
*.a
*.pc
*.version
.idea/
bundle/
build/
build-tools-dir/
build-debug/
build-release/
cmake-build-debug/
cmake-build-release/
src/CMakeLists.txt.user
libs/portaudio-build/
libs/ffmpeg-build/
libs/ffmpeg/config.asm
libs/ffmpeg/config.h
libs/ffmpeg/doc/config.texi
libs/ffmpeg/ffbuild/.config
libs/ffmpeg/ffbuild/config.fate
libs/ffmpeg/ffbuild/config.log
libs/ffmpeg/ffbuild/config.mak
libs/ffmpeg/ffbuild/config.sh
libs/ffmpeg/libavcodec/bsf_list.c
libs/ffmpeg/libavcodec/codec_list.c
libs/ffmpeg/libavcodec/parser_list.c
libs/ffmpeg/libavdevice/indev_list.c
libs/ffmpeg/libavdevice/outdev_list.c
libs/ffmpeg/libavfilter/filter_list.c
libs/ffmpeg/libavformat/demuxer_list.c
libs/ffmpeg/libavformat/muxer_list.c
libs/ffmpeg/libavformat/protocol_list.c
libs/ffmpeg/libavutil/avconfig.h
libs/ffmpeg/libavutil/ffversion.h
